.main-page-content {
	display: grid;
	grid-template-columns: [full-start] 1fr [middle-start] fit-content(45rem) [middle-end] 1fr [full-end];
	grid-auto-rows: max-content;
	grid-auto-flow: row;
	overflow-x: auto;
	height: unset;
	background: var(--background-primary);
	padding-bottom: 2rem;
	margin: 0;
}
/* main-page-content containers */
.main-page-content section,
.main-page-content .section-content {
	display: contents;
}
/* main-page-content: all items */
.main-page-content > *,
.main-page-content :where(section, .section-content) > * {
	grid-column: middle;
	padding-inline: 1rem;
}
/* specific items */
.main-page-content > aside.metadata {
	display: none;
}
.main-page-content .table-scroll { /*.main-page-content svg*/
	width: unset;
	grid-column: full;
	max-width: 100%;
	margin: auto;
	background: inherit;
}

.main-page-content svg[viewBox="-1 -1 650 42"] {
	grid-column: full;
	transform: scale(-1.5, 1.5);
	transform-origin: top;
	width: 66%;
	align-self: center;
	
}
.main-page-content svg[viewBox="-1 -1 650 42"] text {
    transform: scale(-1, 1);
    transform-origin: center;
    transform-box: fill-box;
}
#input_types + div iframe {
	height: 30px !important;
	padding: 1px !important;
}

.main-page-content .bc-legend {
	display: none;
}
/* adjusting margins etc. */
.main-page-content h1,
.main-page-content h2, .main-page-content h2:first-of-type {
	padding-inline: 0;
	margin-block: 1rem 0.5rem;
}
.main-page-content h3 {
	margin-top: 1rem;
}
.main-page-content h1 {
	margin-block: 1rem;
}
.main-page-content p,
.main-page-content .section-content p:last-child {
	margin-block: 0.5rem;
}
.main-page-content dl:not(.bc-notes-list):not(.bc-legend-items-container) dt {
	margin-top: 0.5rem;
	font-size: 1.25em;
	font-weight: bold;
}
.main-page-content dl:not(.bc-notes-list):not(.bc-legend-items-container) dt:before {
	content: "★ ";
}
.main-page-content dl dt code a { /* fix mistake */
	font-size: calc(1em / 0.9);
}
.main-page-content dl dt a:not(.button) {
	color: var(--notecard-link-color); /* idk */
	text-decoration-color: var(--text-link);
}

.main-page-content ol, .main-page-content ul {
	margin-block: 0;
}
.main-page-content ol li, .main-page-content ul li {
	margin-block: 0.25;
}
.bc-legend-items-container {
	margin-block: 0;
}
/*#browser_compatibility,
#browser_compatibility ~ :not(section[aria-labelledby="see_also"]) {
	order: -1;
}*/





.table-scroll-inner {
	padding: 0 !important;
	background: inherit !important;
}
.bc-table {
	background: inherit !important;
}

.document-page .article-actions-container {
	display: none !important;
}

.bc-table tbody th {
	width: unset !important;
}

.bc-table td.bc-support {
	width: 3rem !important;
}

:root {
	--base-font-size: 90% !important;
	--base-font-size-rem: 0.9rem !important;
	font-size: 14px !important;
}

body, #root, div.page-wrapper, div.main-wrapper,
header, header > .container, header > .container > *,
.article-actions-container, .article-actions-container > .container,
footer#nav-footer {
	display: contents !important;
}
#a11y-status-message, #nav-access {
	display: none;
}
footer#nav-footer {
	display: none !important;
}
/****************/
:root {
	position: fixed;
	inset: 0;
	display: grid;
	grid:
		"header header"
		"content sidebar"
}
.header-search {
	margin-left: auto;
}
.search-results {
	top: var(--form-elem-height);
}
.search-results small::first-letter {
	font-size: 0;
}

/******/
.article-actions-container {
	grid-area: actions;
}
#content.main-content  {
	grid-area: content;
	overflow-y: scroll;
	display: block !important;
	background: var(--background-primary) !important;
}
#content.main-content > * {
	background: inherit;
}
/*****/
.main-document-header-container {
	grid-area: header;
	display: grid;
	grid: "logo path search"
		/ min-content auto max-content;
	grid-auto-flow: column;
	align-items: center;
	background-color: var(--background-secondary);
	border-bottom: 1px solid var(--border-primary);
	padding: 1px;
}
.main-document-header-container .logo {
	grid-area: logo;
	margin-inline: 0.25em;
}
.header-search {
	grid-area: search;
	align-self: end;
}
.header-search .search-widget {
	gap: 0;
}
.header-search .search-input-field {
	padding-inline: 1em;
}
.button.search-button {
    right: .75em;
}
.button.clear-search-button.clear-search-button.clear-search-button.clear-search-button {
    right: 2.5em;
}

.breadcrumbs-container { display: contents }
.breadcrumbs-container > ol {
	grid-area: path;
	padding-top: 0.1em;
}
.article-actions {
	display: none;
}
.theme-switcher-menu {
	display: none;
}
.main-menu-toggle, .article-actions-container .sidebar-button {
	display: none;
}
.toc {
	display: none !important;
}
.main-wrapper .sidebar.sidebar {
	grid-area: sidebar;
	align-self: unset;
	max-height: unset;
	position: unset;
	background: var(--background-secondary) !important;
}
.sidebar-inner { /*optimization */
	background: inherit;
}

.document-toc-heading.document-toc-heading, .sidebar-heading {
	margin-bottom: 0.5em;
	letter-spacing: 0;
	font-weight: 500;
	display: none;
}
.document-toc-link.document-toc-link:not(.button) {
	padding: 0 0.25em;
}
.document-toc {
	margin-bottom: 0;
}
.sidebar em, .sidebar a { padding: 0; }
.sidebar li, .sidebar summary { margin: 0 }
.sidebar summary {
	font-weight: bold;
}
.sidebar li {
	list-style: disc;
	line-break: anywhere;
}
.sidebar a {
	display: inline;
}
.sidebar details code {
	letter-spacing: -.5px;
}
.sidebar details {
	margin-block: 0.25em;
}
.sidebar strong {
	margin-left: -0.25rem;
	padding-left: 0.25rem;
	background: var(--background-toc-active) !important;
}
.sidebar strong code {
	font-size: 1em;
	text-shadow: 1px 1px #FF800060;
	letter-spacing: 2px;
}
.main-wrapper .sidebar.sidebar {
	width: 20rem !important;
	display: flex !important;
border-left: 6px solid var(--border-primary);
padding-left: 0.5em;
padding-block: .5em !important;
}
